<h1 class="questions_header">All Questions</h1>

  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Category</th>
        <th>Updated_at</th>
      </tr>
     </thead>

     <tbody>
       <% @questions.each do |question| %>
       <tr>
         <td><a href=<%= question_path(question.id) %>><%=question.title%></a></td>
         <td><%=question.find_user%></td>
         <td><%= question.find_category %></td>
         <td><%=question.updated_at.strftime("%D at %r")%></td>
       </tr>
       <% end %>
     </tbody>
   </table>
   <div class="center"><%= paginate @questions %></div>
