<h2>Question</h2>
<div class="row">
  <div class="col s12 m12">
    <div class="question card-panel white">
      <span class="black-text">
        <div id="question-title" >
          <div class="divider"></div>
          <h5><%= @question.title %><br></h5>
          <div class="divider"></div>
        </div>
        <br>
        <div id="question-body" >
          <%= @question.body %><br>
          <div id="delete-question">
              <% if !current_user.nil? && current_user.id == @question.user_id %>
                  <%= button_to "Delete Question", question_path(@question), method: :delete, class: "waves-effect red darken-1 waves-light btn right" %>
              <% end %>
          </div>

          <div id="question-upvote" >
            <%= form_for [@upvote], url: {controller: "upvotes", action: "create"} do |f| %>
              <%= f.hidden_field :question_id, value: @question.id %>
              <%= f.hidden_field :user_id, value: @question.user_id %>
              <%= f.submit 'Upvote', class: 'upvote-submit' %>
            <% end %>
          </div>

          <div id="question-downvote" >
            <%= form_for [@downvote], url: {controller: "downvotes", action: "create"} do |f| %>
              <%= f.hidden_field :question_id, value: @question.id %>
              <%= f.hidden_field :user_id, value: @question.user_id %>
              <%= f.submit 'Downvote', class: 'downvote-submit' %>
            <% end %>
          </div>




        </div>
      </span>
      <div id="question-details" class="right card-action">
        <p>Author: <%= @question.find_user %> Updated: <%= @question.updated_at.strftime("%D at %r") %></p><br>
      </div>
        <br><br><br>
        <div class="divider"></div>
        <% if !@question.comments.empty? %>
          <%= render 'comments/questioncomments' %>
        <% end %>
        <%= form_for [@question, @comment], url: { controller: "comments", action: "create" } do |f| %>
          <%= f.hidden_field :question, value: params[:id] %>
          <%= f.text_area :body, placeholder: "Add Comment" %>
          <%= show_errors(@comment, :body) %>
          <%= f.submit "Add Comment" %>
        <% end %>
    </div>
  </div>
</div>

<h4><%= @question.answer_count %> Answers</h4>
<div class="row">
  <div class="question-answers">
    <% @question.answers.each do |answer| %>
      <% unless answer.body.nil? %>
        <div class="question-answer">
          <div class="col s12 m12">
            <div class="card-panel white">
              <span class="black-text">
                <%= answer.body %><br>
                <div id="answer-details" class="right card-action">
                  <% if current_user && current_user.admin? %>
                    <%= button_to "Delete Answer","/answers/#{answer.id}", method: :delete, params: { id: answer.id}%>
                  <% end %>
                  <p>Author: <%= answer.find_user %> Updated: <%= answer.updated_at.strftime("%D at %r") unless answer.updated_at.nil? %></p><br>
                  <br>
                </div>
              </span>

              <div id="answer-upvote" >
                <%= form_for [@upvote], url: {controller: "upvotes", action: "create"} do |f| %>
                  <%= f.hidden_field :answer_id, value: answer.id %>
                  <%= f.hidden_field :user_id, value: answer.user_id %>
                  <%= f.submit 'Upvote', class: 'upvote-submit' %>
                <% end %>
              </div>
              <div id="answer-downvote" >
                <%= form_for [@downvote], url: {controller: "downvotes", action: "create"} do |f| %>
                  <%= f.hidden_field :answer_id, value: answer.id %>
                  <%= f.hidden_field :user_id, value: answer.user_id %>
                  <%= f.submit 'Downvote', class: 'downvote-submit' %>
                <% end %>
              </div>



              <br><br><br>
              <div class="divider"></div>
              <br>
              <% if !answer.comments.empty? %>
                <%= render partial: "comments/answercomments", locals: { answer: answer } %>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="answer-question">
  <h5>Answer this question</h5>
    <%= form_for [@question, @answer], url: { controller: "answers", action: "create" } do |f| %>
      <%= f.hidden_field :question, :value => params[:id] %>
      <%= f.text_area :body, placeholder: "Enter text" %>
      <%= show_errors(@answer, :body) %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
