<h2>Question</h2>

<div class="row">
  <div class="col s12 m12">
    <div class="card-panel white">
      <span class="black-text">
        <div id="question-title" >
          <div class="divider"></div>
          <h5><%= @question.title %><br></h5>
          <div class="divider"></div>
        </div>
        <br>
        <div id="question-body" >
          <%= @question.body %><br>
        </div>
      </span>
      <div id="question-details" class="right card-action">
        <p><%= @question.find_user %> <%= @question.updated_at.strftime("%D at %r") %></p><br>
      </div>
        <br><br><br>
        <div class="divider"></div>
      <div id="question-comments" class="blue-text">
        <% @question.comments.each do |comment| %>
          <div id="question-body" class="card-action" style= padding-left:50px;>
            <p><%= comment.body %></p>
          </div>
          <div id="question-details" class="right card-action">
            <p><%= comment.find_user %> <%= comment.updated_at.strftime("%D at %r") %></p><br>
          </div>
        <% end %>
      </div>
      <br><br>
    </div>
  </div>
</div>

<h4><%= @question.answer_count %> Answers</h4>
<div class="row">
  <div class="question-answers">
    <% @question.answers.each do |answer| %>
      <div class="question-answer">
        <div class="col s12 m12">
          <div class="card-panel white">
            <span class="black-text">
              <%= answer.body %><br>
              <div class="card-action">
                <%= answer.updated_at.strftime("%D at %r") unless answer.updated_at.nil? %><br>
              </div>
            </span>
            <div class="right col s12 m12">
              <div class="card-panel">
                <span class="blue-text">
                  <% answer.comments.each do |comment| %>
                    <%= comment.body %><br><br><br>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h5>Answer this question</h5>
  <%= form_for [@question, @answer], url: { controller: "answers", action: "create" } do |f| %>
    <%= f.hidden_field :question, :value => params[:id] %>
    <%= f.text_area :body, placeholder: "Enter text" %>
    <%= f.submit "Submit" %>
    <% end %>
</div>
