<h2>Question</h2>
<% if current_admin? && @question.user.registered_user? %>
  <div id='deactivate-user-button' class='right card-action'>
    <%= button_to "Deactivate User", user_permission_path(@question.user), method: :put, class: "waves-effect red darken-1 waves-light btn right" %>
  </div>
<% elsif current_admin? && @question.user.blocked_user? %>
  <div id='reactivate-user-button' class='right card-action'>
    <%= button_to "Reactivate User", user_permission_path(@question.user), method: :put, class: "waves-effect red darken-1 waves-light btn right" %>
  </div>
<% end %>
<div class="row">
  <div class="col s12 m11 right">
    <div class="card white">
      <div class="card-content black-text">
        <div class="card-title" id="question-title">
          <div class="divider"></div>
          <h3><%= @question.title %><br></h3>
          <div class="divider"></div>
        </div>
        <div id="question-body" >
          <%= @question.body %>
          <br><br>
          <div id="question-details" class="right card-action">
            <p>Author: <%= @question.find_user %> Updated: <%= @question.updated_at.strftime("%D at %r") %></p><br>
          </div>
          <br><br>
        </div>
      </div>
      <div class="card-action">
        <div style="display:inline-block; vertical-align: middle;">
          <div class="left" id="edit-question">
            <% if current_users_question?(@question) %>
                <%= button_to "Edit Question", edit_question_path(@question), method: :get, class: "white-text waves-effect blue btn-small" %>
            <% end %>
          </div>
          <div class="right" id="delete-question">
              <% if current_users_question?(@question)%>
                <%= button_to "Delete Question", question_path(@question), method: :delete, class: "white-text waves-effect red darken-4 btn-small" %>
              <% elsif current_admin? %>
                <%= button_to "Delete Question", question_path(@question), method: :delete, class: "right red darken-4 btn-small" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m1 left">
    <%= render 'votes/question_vote_buttons' %>
  </div>
</div>

<div class="row">
  <div class="question-comments">
    <% if @question.comments.check_comments %>
        <% @question.comments.each do |comment| %>
          <% unless comment.body.nil? || !comment.persisted? %>
            <div class="col s12 m10 right">
              <%= render 'comments/questioncomments', comment: comment %>
            </div>
            <div class="col s12 m1 right">
              <%= render 'votes/question_comment_vote_buttons', comment: comment %>
            </div>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= render 'comments/comment_on_question' %>
</div>

<br><br>

<h4><%= @question.answer_count %> Answers</h4>

<div class="row">
  <div class="question-answers">
    <% @question.answers.each do |answer| %>
      <% unless answer.body.nil? || !answer.persisted? %>

        <div class="col s12 m11 right">
          <%= render 'answers/question_answers', answer: answer %>
        </div>

        <div class="col s12 m1 left">
          <%= render 'votes/answer_vote_buttons', answer: answer %>
        </div>

        <div class="row">
          <div id="answer-comments" class="blue-text">
            <% answer.comments.each do |comment| %>
              <% unless comment.body.nil? || !comment.persisted? %>
                  <div class="col s12 m10 right">
                    <%= render 'comments/answercomments', comment: comment %>
                  </div>
                  <div class="col s12 m1 right">
                    <%= render 'votes/answer_comments_vote_buttons', comment: comment %>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="answer-question" class="row">
  <h5>Answer this question</h5>
  <%= form_for [@question, @answer], url: { controller: "answers", action: "create" } do |f| %>
  <%= f.hidden_field :question, :value => @question.id %>
  <%= f.text_area :body, placeholder: "Enter text" %>
  <%= show_errors(@answer, :body) %>
  <%= f.submit "Submit", class: "white-text waves-effect blue btn-small" %>
  <% end %>
</div>
