<div class="row">
  <div class="col s12 m12">
    <div class="card-panel blue lighten-5">
      <span class="center black-text">
        <h4>Login</h4><br>
        <%= form_for :session, url: login_path do |f| %>
            <%=  f.label :name %>
            <%=  f.text_field :name%>
            <%=  f.label :password %>
            <%=  f.password_field :password %>
            <%= f.submit "Login", class: "waves-effect blue darken-1 waves-light btn-large" %>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card-panel blue lighten-5">
      <span class="center black-text">
        <h4>New to StackOverflow?</h4><br>
         <div id="account_create_button">
           <a href="/users/new" class="waves-effect blue darken-1 waves-light btn">Create An Account</a>
         </div>
      </span>
    </div>
  </div>
</div>
