<div id="answer-comments" class="blue-text">
  <% answer.comments.each do |comment| %>
    <div id="answer-comment-body" style= padding-left:50px;>
      <p><%= comment.body %></p>
      <div id='delete-comment-button' class='left card-action'>
        <% if current_admin? %>
          <%= button_to "Delete Comment", comment_path(comment), method: :delete, class: "waves-effect red darken-4 waves-light btn-small" %>
        <% end %>
      </div>
    </div>
    <div id="answer-comment-details" class="right card-action">
      <p>Author: <%= comment.find_user %> Updated: <%= comment.updated_at.strftime("%D at %r") %></p><br>
    </div>

    <div id="answer-comment-upvote" >
      <%= form_for [@upvote], url: {controller: "upvotes", action: "create"} do |f| %>
        <%= f.hidden_field :comment_id, value: comment.id %>
        <%= f.hidden_field :user_id, value: comment.user_id %>
        <%= f.submit 'Upvote', class: 'upvote-submit' %>
      <% end %>
    </div>
    <div id="answer-comment-downvote" >
      <%= form_for [@downvote], url: {controller: "downvotes", action: "create"} do |f| %>
        <%= f.hidden_field :comment_id, value: comment.id %>
        <%= f.hidden_field :user_id, value: comment.user_id %>
        <%= f.submit 'Downvote', class: 'downvote-submit' %>
      <% end %>
    </div>
  <% end %>
</div>
<br><br>
