<div class="comment-on-answer">
  <%= form_for [@answer, @comment], url: { controller: "comments", action: "create" } do |f| %>
    <%= f.hidden_field :answer, value: answer.id %>
    <%= f.hidden_field :question, value: params[:id] %>
    <%= f.text_area :body, placeholder: "Add Comment" %>
    <%= show_errors(@comment, :body) %>
    <%= f.submit "Add Comment", class: "white-text waves-effect blue btn-small" %>
  <% end %>
</div>
