<div class="row">
  <div class="col s12 m6">
    <div class="card blue lighten-1">
      <div class="card-content black-text">
        <table class='centered' id='user-info-table'>
          <thead>
            <tr>
                <th>            </th>
                <th>            </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                E-Mail:
              </td>
              <td>
                <%= @user.email %>
              </td>
            </tr>
            <tr>
              <% if current_user == @user %>
                <td>
                  Phone:
                </td>
                <td>
                  <%= @user.phone %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td>
                Reputation:
              </td>
              <td id='user-street-rep'>
                <%= @user.reputation %>
              </td>
            </tr>
            <tr>
              <% if current_user == @user %>
                <td>
                  <%= link_to "Edit User Profile", edit_user_path(current_user), style: "color: white" %>
                </td>
                <td>
                  <%= link_to "Change Password", edit_password_path, style: "color: white" %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card blue lighten-1" id='user-avatar'>
      <div>
      <%= gravatar_image_tag @user.email, alt: @user.name, gravatar: { size: 200, default: "http://www.ulyces.co/wp-content/plugins/tia-author-image/default_user_icon.jpg" }, class: "user-pic" %>
      <hr>
        <div class="user-name" >
          Name: <%= @user.name %>
        </div>
      </div>
    </div>
  </div>
</div>
