<% if current_user.nil? %>
  <%= render 'home/welcome_jumbotron' %>
<% end %>

<div class="row">
  <div class="col s12 m4 l3">
    <div class="row">
      <div class="col s12 m12">
        <div class="card white">
          <div class="card-content black-text">
            <div class="categories">
              <span class="card-title">Categories</span>
              <% @presenter.all_categories.each do |category| %>
              <!-- <a class="waves-effect blue darken-1 waves-light btn-large"><%= category.name %></a> -->
              <%= link_to "#{category.name}", root_path(:category => category.id)%>
              <br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m8 l9">
    <div class="row">
      <div class="col s12 m12">
        <div class="card white">
          <div class="card-content black-text">
            <div class="recent-activity">
              <% if params[:category].nil? %>
                <span class="card-title">Recent Activity</span>
              <% else %>
                <span class="card-title">Recent Activity: <%=@presenter.category_name(params[:category]) %> </span>
              <% end %>
              <table class="bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <div class="root-questions">
                    <% @presenter.show_questions(params[:category]).each do |question| %>
                      <tr>
                        <td>Answers: <%= question.answers.count %></td>
                        <td><a href=<%= question_path(question) %> class="collection-item"><%= question.title %></a></td>
                        <td><p>Updated: <%= question.updated_at.strftime("%D") %></p></td>
                      </tr>
                    <% end %>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
