<div class="card white black-text">
  <div class="card-content">
    <div class="answer-body">
      <h5><%= answer.body %><br></h5>
    </div>
    <br>
    <div id="answer-details" class="right card-action">
      <p>Author: <%= link_to answer.find_user, user_path("#{answer.find_user_id}") %> Updated: <%= answer.updated_at.strftime("%D at %r") unless answer.updated_at.nil? %></p><br>
    </div>
      <br><br>
  </div>
  <div class="card-action">
    <div style="display:inline-block; vertical-align: middle;">
      <div id='answer-delete-button' class="left">
        <% if current_users_answer?(answer) %>
        <%= button_to "Delete Answer","/answers/#{answer.id}", method: :delete, params: { id: answer.id}, class: "white-text waves-effect red darken-4 btn-small "%></br>
        <% elsif current_admin? %>
        <%= button_to "Delete Answer","/answers/#{answer.id}", method: :delete, params: { id: answer.id}, class: "white-text waves-effect red darken-4 btn-small "%></br>
        <% end %>
      </div>

      <% if current_users_question?(@question) && !best_answer?(@question, answer) %>
      <div class="best-answer-button right">
        <%= form_tag question_best_answers_path(@question), method: :post do %>
        <%= hidden_field_tag :best_answer_id, answer.id %>
        <%= submit_tag "Select As Best Answer", class: "white-text waves-effect green btn-small" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
