<div class="card-content black-text">
  <% if current_user && !@question.upvotes.where(creator: current_user.id).exists? %>
    <div id="question-upvote" >
      <%= form_for [@upvote], url: {controller: "upvotes", action: "create"} do |f| %>
        <%= f.hidden_field :question_id, value: @question.id %>
        <%= f.hidden_field :creator, value: current_user.id %>
        <%= f.hidden_field :user_id, value: @question.user_id %>
        <%= button_tag( class: "left black-text waves-effect btn-flat") do %>
            <i class="material-icons center">arrow_drop_up</i>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <button class="btn-flat waves-effect grey disabled center" ><i class="material-icons">arrow_drop_up</i></button>
  <% end %>

    <h4 class="center"> <%= @question.question_reputation %> </h4>

  <% if current_user && !@question.downvotes.where(creator: current_user.id).exists? %>
    <div id="question-downvote" >
      <%= form_for [@downvote], url: {controller: "downvotes", action: "create"} do |f| %>
        <%= f.hidden_field :question_id, value: @question.id %>
        <%= f.hidden_field :creator, value: current_user.id %>
        <%= f.hidden_field :user_id, value: @question.user_id %>
        <%= button_tag( class: "black-text btn-flat") do %>
            <i class="large material-icons center">arrow_drop_down</i>
        <% end %>
      <% end %>
    </div>
    <% else %>
      <button class="btn-flat black disabled center" ><i class="material-icons">arrow_drop_down</i></button>
  <% end %>
</div>
