<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      <li><a href=<%= root_path  %>><%= image_tag("stack_logo.png", height: "45", width: "135") %></a></li>
      <li><a href=<%= questions_path %> class="black-text">Questions</a></li>
      <% if params[:category].nil? %>
        <li> <a href=<%= new_question_path %> class="black-text">Ask Question</a></li>
      <% else %>
        <li><a href=<%= new_question_path(:category => params[:category]) %> class="black-text">Ask Question</a></li> %>
      <% end %>
    </ul>
    <ul id="nav-mobile" class="right">
      <li><a href="/login" class="black-text">Login</a></li>
      <li><a href="/users/new" class="waves-effect blue darken-1 waves-light btn">Sign Up</a></li>
    </ul>
  </div>
</nav>
