<!DOCTYPE html>
<html>
  <head>
    <title>CloneyIsland</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <main>
  <div class="flash-message" style='text-align:center'>
    <% flash.each do |type, message| %>
      <% if type == "success" %>
        <%= content_tag :div, sanitize(message), class:"alert-success" %>
      <% elsif type == "danger" %>
        <%= content_tag :div, sanitize(message), class:"alert-danger" %>
      <% else %>
        <%= content_tag :div, sanitize(message), class:"type" %>
      <% end %>
    <% end %>
  </div>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
    <script>
     $(document).ready(function() {
        $('select').material_select();
        $(".button-collapse").sideNav();
    });
  </script>
  </body>
</html>
